## Basic Python for Data Analysis
This material was adapted from https://github.com/dom-devel/pandas_basic_data_analysis_tutorial

## How does Jupyter notebook work?

Jupyter notebook (IMO) is the ideal environment for data analysis. It works as follows.
- You type code into cells. 
- You run the cells.

By breaking the code into cells it allows you to work in steps and investigate the data as you are going.

Jupyter notebook has two modes:
- Command mode (let's you create new cells, delete them, run them etc.)
- Edit mode (let's you type into and edit the cells)

Escape takes you to command mode (the highlighted cell will have a blue bar on the left),  Enter takes you to edit mode (the highlighted cell will have a green bar on the left).

While there are buttons at the top, I'd highly recommend learning the shortcuts. Aside from those two the most important are:

**Command Mode:**
- a: create a cell above
- b: create a cell below
- Cmd/Ctrl+Enter - Runs a cell
- dd: deletes a cell (be careful, you can't undo this)
- m: Set a cell to text mode (markdown), like this cell you're reading
- y: Set a cell to code mode (the default)

**Edit mode:**
- shift+tab: show documentation for the function the cursor is inside. Hit tab multiple times to change where the documentation pop-up appears. (sometimes won't trigger in which case just google "pandas documentation x")

In [2]:
import pandas as pd
import numpy as np
import re
from IPython.display import display

**What does this do?:** For our example here, we're going to load in a top 20 ranking file from STAT.

This shows the top 20 rankings domains for a set of keywords and is exactly the data we might want to do some analysis on .

The following function allows us to open a CSV file into a dataframe. That's a fancy word for a table in pandas.

The output of the function on the right is saved into the variable on the left.

In [13]:
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1w8rAdkdgCIsL06Ub28Hj1B_F2EnCVhjc")
df

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39595,market value of car,GB-en,NaN,smartphone,1300.0,16,organic,http,www.carbase.my/tool/car-market-value-guide,organic,https,www.accountingweb.co.uk/any-answers/market-val...,car valuation / car-valuation / gsc / permanen...
39596,market value of car,GB-en,NaN,smartphone,1300.0,17,organic,http,www.racq.com.au/cars-and-driving/cars/selling-...,organic,http,www.financial-ombudsman.org.uk/publications/om...,car valuation / car-valuation / gsc / permanen...
39597,market value of car,GB-en,NaN,smartphone,1300.0,18,organic,http,m.desperateseller.co.uk/value-my-car,organic,http,www.gocompare.com/car-insurance/vehicle-value/,car valuation / car-valuation / gsc / permanen...
39598,market value of car,GB-en,NaN,smartphone,1300.0,19,organic,https,www.cargurus.com/Cars/instantMarketValue.action,organic,https,www.jct600.co.uk/valuation/,car valuation / car-valuation / gsc / permanen...
39599,market value of car,GB-en,NaN,smartphone,1300.0,20,organic,http,www.honestjohn.co.uk/used-prices/,organic,https,m.redbook.com.au/,car valuation / car-valuation / gsc / permanen...

## Exploring data

**What does this do?:** This prints out the first x rows of a dataframe

In [14]:
df.head(1)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...

**What does this do?:** Gives you the size of the dataframe in rows by columns.

In [15]:
df.shape

(39600, 13)

**What does this do?:** Shows you the datatype for each column. (i.e. this column is a string (i.e. text), this column is a number etc.) What is object? For our purposes it's the same as string.

In [16]:
df.dtypes

Keyword                            object
Market                             object
Location                          float64
Device                             object
Regional Monthly Search Volume    float64
Rank                                int64
Result Types for Jan  1, 2017      object
Protocol for Jan  1, 2017          object
Ranking URL on Jan  1, 2017        object
Result Types for Sep  1, 2017      object
Protocol for Sep  1, 2017          object
Ranking URL on Sep  1, 2017        object
Tags                               object
dtype: object

**What does this do?:** This allows you to select a column. 

We've also combined it with our previous command so it doesn't print out the entire column.

In [17]:
df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

**What does this do?:** This shows you all the different values in a column, along with a count of how many there are of each.

In [18]:
df['Market'].value_counts()

GB-en    39540
DE-de       60
Name: Market, dtype: int64

# Saving results vs printing results out

Each line of code we've had so far has printed something out or saved the result of our calculation into a variable.

If we have a single line of code which doesn't save anything, Jupyter will print out whatever is returned by that line of code.

In [19]:
df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

If we've saved the results of code into a variable then it won't print anything out.

In [20]:
saved = df['Market'].head(1)

We can view the contents of the variable however, by putting the variable by itself into a cell and running that cell.

In [21]:
saved

0    GB-en
Name: Market, dtype: object

However if you try to print out multiple things at once, by just listing them one by one, then only the past one will be printed.

In [22]:
df['Market'].head(1)
df['Market'].head(2)
df['Market'].head(3)
"Only I will print."

'Only I will print.'

If you do want to print out multiple rows we need to tell pandas. Here its good practice to use display, because often it will make the formatting nicer.

In [23]:
display(df['Market'].head(1))
display(df['Market'].head(2))

0    GB-en
Name: Market, dtype: object

0    GB-en
1    GB-en
Name: Market, dtype: object

# Filtering data

Great so we know how to print out data and how to examine the data we've loaded. What other common tasks might we find outselves doing?

We'll start with filtering. A common use case is wanting to filter data based on the values in columns.

**What does this do?:** Filter a dataframe based on a string column. In this case we're filtering based on whether or not a regex matches.

We can see the index number on the left changing, because the first row where Keyword contains bmw or audi is 180.

In [24]:
df_filtered = df[(df["Keyword"].str.contains("bmw|audi", regex=True)==True)]
df_filtered.head(5)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
180,1 series bmw,GB-en,NaN,desktop,3600.0,1,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,temp - semrush / used-cars
181,1 series bmw,GB-en,NaN,desktop,3600.0,2,organic,http,www.autotrader.co.uk/used-cars/bmw/1-series,organic,https,www.autotrader.co.uk/used-cars/bmw/1-series,temp - semrush / used-cars
182,1 series bmw,GB-en,NaN,desktop,3600.0,3,organic,http,www.whatcar.com/bmw/1-series/hatchback/review/,organic,https,www.gumtree.com/cars/uk/bmw+1+series,temp - semrush / used-cars
183,1 series bmw,GB-en,NaN,desktop,3600.0,4,organic,https,en.wikipedia.org/wiki/BMW_1_Series,organic,https,www.whatcar.com/bmw/1-series/hatchback/review/,temp - semrush / used-cars
184,1 series bmw,GB-en,NaN,desktop,3600.0,5,organic,https,www.gumtree.com/cars/uk/bmw/bmw+1+series,organic,https,en.wikipedia.org/wiki/BMW_1_Series,temp - semrush / used-cars

**What does this do?:** Filter a dataframe based on a numeric column. Here we return all the results for rank 1.

In [25]:
df_filtered = df[df["Rank"]==1]

**What does this do?:** Filter a dataframe based on a boolean (i.e. TRUE and FALSE) column. Here we return all the results which are true. We don't have a boolean column yet, so let's quickly create one (we'll go over in more detail later).

In [26]:
df['is_rank_1'] = False
df.loc[df['Rank'] == 1, 'is_rank_1'] = True

Then we can filter for any rows where is_rank_1 is equal to True.

In [27]:
df_filtered = df[df['is_rank_1']]

If we want to invert this and get any where it doesn't match 1, we do it with `~`

In [28]:
df_filtered = df[~df['is_rank_1']]

**What does this do?:** Filter a dataframe based off a list

In [29]:
list_of_values = [
    '1 series bmw',
    'ford deals'
]
df_filtered = df[df["Keyword"].isin(list_of_values)]

**What does this do?:** What if we want to use multiple conditions? Again nice and easy, we just put more than one in our first set of square brackets as seen below. `&` is the symbol for and, and `|` is the symbol for or.

In [31]:
df_filtered = df[(df["Market"].str.contains("GB-en")==False) | 
                 (df["Device"].str.contains("desktop")==True)]


# Creating new columns based off existing columns

**What does this do?:** Creates a new column called *Industry* and sets the value to "cars".

In [32]:
df['industry'] = "Cars"
df.head(5)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars

First we'll look at creating a column which is True or False based on a condition. We can use any of the conditions we used in the previous section.

**What does this do?:** Sets the column to True and False based on the filter condition. 

Below we're creating a column which is True wherever rank is 1.

In [33]:
df['is_rank_1'] = df['Rank'] == 1

Each condition (if you have more than 1) needs to be wrapped in brackets.

Below we're creating a column which is `True` for the all the rows where rank=1 and `False` otherwise.

In [35]:
df['auto_express_with_rank_2'] = (df['Tags'].str.contains("auto express")) & (df['Rank'] < 4)

What if we wanted to create a basic search visibility metric? Below we do that by dividing rank by search volume.

**What does this do?:** Below we're creating a column based on a calculation from other columns.

In [36]:
df['basic_search_visibility'] = df['Regional Monthly Search Volume']/df['Rank']

Another common usecase, creating a column based off a regex extract. Pandas comes with a built in function for us.

**What does this do?:** This function creates a column, which is the value of the first captured group (everything inside the first set of brackets) in the regex.

In [46]:
df['car_type'] = df['Keyword'].str.extract("(bmw|audi|ford)", re.IGNORECASE, expand=False)

In [47]:
df['car_type'].value_counts()

bmw     3660
audi    2960
ford    1800
Name: car_type, dtype: int64

# Grouping data

**What does this do?**: This is the most flexible version of groupby. There are simpler syntaxes, but if you know this one you'll be able to do basically everything you want with it. In the example below, we're going to get average rank and total keyword count for each for the later date in our sample (1st Sep 2017).

In [37]:
df_group = df.groupby('Ranking URL on Sep  1, 2017').agg({
    'Keyword': 'count',
    'Rank': 'mean'
}).reset_index()

In [38]:
df_group.head()

                         Ranking URL on Sep  1, 2017  Keyword       Rank
0                   111.intdmf.com/autolottnotts.com        2  15.500000
1                       111.intdmf.com/autolotts.com        2  14.500000
2  44teeth.com/contributors/loved-honda-msx-sold-...        2  17.000000
3                   4testpass.com/pass-driving-test/        3  12.666667
4            a-professional-appraisal.ca/contact-us/        2  19.500000

Outra maneira de agregação, utilizando uma interface mais simples.

In [41]:
df_group = df.groupby('Ranking URL on Sep  1, 2017', as_index = False)['Keyword'].count()
df_group.head()

                         Ranking URL on Sep  1, 2017  Keyword
0                   111.intdmf.com/autolottnotts.com        2
1                       111.intdmf.com/autolotts.com        2
2  44teeth.com/contributors/loved-honda-msx-sold-...        2
3                   4testpass.com/pass-driving-test/        3
4            a-professional-appraisal.ca/contact-us/        2

# Sorting data

**What does it do?:** Sorts a dataframe by selecting columns, in the case below we're sorting from biggest to smallest.

In [42]:
df_group.sort_values(['Keyword'], ascending=False)

                             Ranking URL on Sep  1, 2017  Keyword
7163                                   www.google.co.uk/      812
5595                      www.confused.com/car-valuation      568
3018                  www.autotrader.co.uk/car-valuation      425
10030                   www.parkers.co.uk/car-valuation/      412
13091                        www.whatcar.com/valuations/      402
...                                                  ...      ...
9487   www.nationwidevehiclecontracts.co.uk/hot-leasi...        1
9486   www.nationwidevehiclecontracts.co.uk/guides/pe...        1
9485   www.nationwidevehiclecontracts.co.uk/guides/pe...        1
9484   www.nationwidevehiclecontracts.co.uk/guides/ne...        1
5788            www.desperateseller.co.uk/cheap-cars/bmw        1

[13414 rows x 2 columns]

# Displaying more data

In the case that you do need more columns, rows or wider columns you can set them with the settings below:

In [44]:
pd.options.display.max_rows = 60
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 50

# Joining together multiple datasets

What if you have more than one dataset and need to join them together? This is a pretty common scenario that we'll now cover.

There are two possible ways we might need to join:
1. Joining together two CSVs with the same columns, because our data is split across multiple files
2. Joining together a new dataset with our dataset based on matching values (the kind of thing you'd use vlookup or index match for in Excel.

## 1. Joining together CSV's with the same columns.

For this we've created a fake second dataset that we're going to load and join on the bottom of ours.

In [46]:
df2 = pd.read_csv("https://drive.google.com/uc?export=download&id=1dGUGIowBzhHQh3IRwSIEOWGqkraT-tEZ")
df2.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,second keyword dataset,GB-en,NaN,desktop,1900,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
1,second keyword dataset,GB-en,NaN,desktop,1900,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
2,second keyword dataset,GB-en,NaN,desktop,1900,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
3,second keyword dataset,GB-en,NaN,desktop,1900,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...
4,second keyword dataset,GB-en,NaN,desktop,1900,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...

**What does this do?:** This function takes a list of dataframes and stacks them one on top of the other.

In [47]:
both_dfs = pd.concat([df, df2])

We can see how they've been put on top of each other by looking at the size of each individually and the two together.

In [48]:
print(df.shape)
print(df2.shape)
print(both_dfs.shape)

(39600, 17)
(20, 13)
(39620, 17)

In [50]:
both_dfs.tail(25)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry,auto_express_with_rank_2,basic_search_visibility
39595,market value of car,GB-en,NaN,smartphone,1300.0,16,organic,http,www.carbase.my/tool/car-market-value-guide,organic,https,www.accountingweb.co.uk/any-answers/market-val...,car valuation / car-valuation / gsc / permanen...,False,Cars,False,81.250000
39596,market value of car,GB-en,NaN,smartphone,1300.0,17,organic,http,www.racq.com.au/cars-and-driving/cars/selling-...,organic,http,www.financial-ombudsman.org.uk/publications/om...,car valuation / car-valuation / gsc / permanen...,False,Cars,False,76.470588
39597,market value of car,GB-en,NaN,smartphone,1300.0,18,organic,http,m.desperateseller.co.uk/value-my-car,organic,http,www.gocompare.com/car-insurance/vehicle-value/,car valuation / car-valuation / gsc / permanen...,False,Cars,False,72.222222
39598,market value of car,GB-en,NaN,smartphone,1300.0,19,organic,https,www.cargurus.com/Cars/instantMarketValue.action,organic,https,www.jct600.co.uk/valuation/,car valuation / car-valuation / gsc / permanen...,False,Cars,False,68.421053
39599,market value of car,GB-en,NaN,smartphone,1300.0,20,organic,http,www.honestjohn.co.uk/used-prices/,organic,https,m.redbook.com.au/,car valuation / car-valuation / gsc / permanen...,False,Cars,False,65.000000
0,second keyword dataset,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
1,second keyword dataset,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
2,second keyword dataset,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
3,second keyword dataset,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
4,second keyword dataset,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
5,second keyword dataset,GB-en,NaN,desktop,1900.0,6,NaN,NaN,NaN,organic,http,www.interestfree4cars.com/,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
6,second keyword dataset,GB-en,NaN,desktop,1900.0,7,NaN,NaN,NaN,organic,http,www.thisismoney.co.uk/money/cars/article-42716...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
7,second keyword dataset,GB-en,NaN,desktop,1900.0,8,NaN,NaN,NaN,organic,http,www.stoneacre.co.uk/0-car-finance,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
8,second keyword dataset,GB-en,NaN,desktop,1900.0,9,NaN,NaN,NaN,organic,http,www.carbuyer.co.uk/news/81264/best-new-car-dea...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
9,second keyword dataset,GB-en,NaN,desktop,1900.0,10,NaN,NaN,NaN,organic,http,www.hyundai.co.uk/offers,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
10,second keyword dataset,GB-en,NaN,desktop,1900.0,11,NaN,NaN,NaN,organic,https,www.mazda.co.uk/aboutmazda/news/mazda-general-...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
11,second keyword dataset,GB-en,NaN,desktop,1900.0,12,NaN,NaN,NaN,organic,https,www.uk-car-discount.co.uk/news/top-5-0-apr-int...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
12,second keyword dataset,GB-en,NaN,desktop,1900.0,13,NaN,NaN,NaN,organic,https,www.bristolstreet.co.uk/used-cars/5-years-0/,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
13,second keyword dataset,GB-en,NaN,desktop,1900.0,14,NaN,NaN,NaN,organic,http,m.vauxhall.co.uk/offers/buyers-guide/finance-o...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
14,second keyword dataset,GB-en,NaN,desktop,1900.0,15,NaN,NaN,NaN,organic,https,www.motoringresearch.com/advice/buying-selling...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
15,second keyword dataset,GB-en,NaN,desktop,1900.0,16,NaN,NaN,NaN,organic,http,www.mirror.co.uk/money/truth-0-car-finance--10...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
16,second keyword dataset,GB-en,NaN,desktop,1900.0,17,NaN,NaN,NaN,organic,http,www.parkers.co.uk/car-buying/2017/deal-watch/,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
17,second keyword dataset,GB-en,NaN,desktop,1900.0,18,NaN,NaN,NaN,organic,http,www.mazda.co.uk/offers/offers-overview/,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
18,second keyword dataset,GB-en,NaN,desktop,1900.0,19,NaN,NaN,NaN,organic,https,www.sandicliffe.co.uk/0-finance-used-cars-no-d...,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN
19,second keyword dataset,GB-en,NaN,desktop,1900.0,20,NaN,NaN,NaN,organic,http,www.skoda.co.uk/finance/finance-offers,!permanent keywords / auto express / featured ...,NaN,NaN,NaN,NaN

## 2. Joining together data based on matching values

So previously we've made a poor search visibility metric by multiplying search volume by rank. Now we can make a better search visibility metric by adding in some CTR rate estimates.

We start by loading in our CTR dataset and take a quick look at it.

In [51]:
ctr = pd.read_csv("https://drive.google.com/uc?export=download&id=1HhfkDTEWYyJdP2IYj1R17qmHWkagOP3n")

In [52]:
ctr.head(5)

   Rank   Device    CTR
0     1  desktop  27.09
1     2  desktop  12.61
2     3  desktop   8.42
3     4  desktop   5.48
4     5  desktop   3.84

Now we need to join CTR with our ranking data. That means we need to match the correct CTR based on both Device and Rank.

In [53]:
df_with_ctr = pd.merge(df, ctr, how="left", on=["Rank", "Device"])

In [54]:
df_with_ctr.head(2)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry,auto_express_with_rank_2,basic_search_visibility,CTR
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars,True,1900.0,27.09
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars,True,950.0,12.61

## Re-naming columns

In [55]:
df.rename(columns={
    'Ranking Full URL on Sep  1, 2017':'2017-09-01', 
    'Ranking Full URL on Jan  1, 2017':'2017-01-01'
}, inplace=True)

## Deleting columns
**What does this do?:** It deletes the list of columns provided. If you set axis=0 then it will try to delete rows. We use inplace=True to delete rows from df_melt rather than return a new dataframe.

In [ ]:
df.drop(['Result Types for Jan  1, 2017', 'Result Types for Sep  1, 2017'], axis=1, inplace=True)

In [58]:
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry,auto_express_with_rank_2,basic_search_visibility
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars,True,1900.000000
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars,True,950.000000
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars,True,633.333333
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars,False,475.000000
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars,False,380.000000